.home-container {

@import url('../../node_modules/react-select/dist/react-select.css');

  .pair-table {
    table, th, td {
      border: 1px solid black;
    }

    td {
      padding: 5px;
      margin: 5px;
      font-size: 12px;
    }
    font-family: Tahoma, Geneva, sans-serif;
    float: left;
    white-space:pre-wrap;
    width: 58%;
  }

  .dropzone-style {
    padding-bottom: 10px;
    float: left;
  }

  .select-value{
    border: 1px solid darkgrey!important;
    width: 35%;
    border-radius: 4px;
    display: table;
    cursor: pointer;
  }

  .select-value:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: #ebf5ff;
  }

  .select-value.selected {
    content: '✓';
    border: solid 1	px blue;
  }

  .app-container{
    padding-top: 10px;
    right: 1019px;
    #searchTB {
       width: 200px;
       height: 20px;
    }
  }

  .w3-myFont {
    font-family: Tahoma, Geneva, sans-serif;
    color: #4644AB;

    h2 {
        text-align: center;
        color: white;
        position: relative;
    }
    h4{
        float: right;
    }

  }

   #svgImage{
      img {
         position: absolute;
         top: 150px;
         left: 720px;
       }
    }

    #background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 7.75%;
        background-color: #3532BE;
    }

  .optimization{
        border: 1px solid #3532BE;
        font-family: Tahoma, Geneva, sans-serif;
        color: #4644AB;
        width: 21%;
        font-size: 90%;
        padding: 3px;
  }

}





