:global {
    @import "~/react-select/dist/react-select.css";
}

.home-container {
  .pair-table {
    table, th, td {
      border: 1px solid black;
    }

    td {
      padding: 10px;
      margin: 5px;
      font-size: 10px;
    }
    font-family: Tahoma, Geneva, sans-serif;
    float: left;
    white-space:pre-wrap;
  }

  .dropzone-style {
    padding-bottom: 10px;
    float: left;
  }

  .select-value{
    border: 1px solid darkgrey!important;
    width: 35%;
    border-radius: 4px;
    display: table;
    cursor: pointer;
  }

  .select-value:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: #ebf5ff;
  }

  .select-value.selected {
    content: '✓';
    border: solid 1	px blue;
  }

  input {
      width: 200px;
  }

  .w3-myFont {
    font-family: Tahoma, Geneva, sans-serif;
    color: #4644AB;

    h2 {
        text-align: center;
    }

  }

   #svgImage{
      img {
         float: right;
       }
    }
}
